@media(max-width: 1200px) {
    .container {
        margin: 0 4rem;
    }

    .content {
        margin: 0 4rem;
    }
}

@media(max-width: 900px) {

    .container {
        margin: 0 2rem;
    }

    .home-description {
        margin: 5rem 0;
        text-align: center;
        flex-direction: column-reverse;
    }
    
    .publication-card {
        display: inline-table;
        min-height: 320px;
    }

    .publication-card img {
        object-fit: cover;
        height: 50%;
        width: 100%;
        border-radius: 15px;
    }

    .publication-card-text .date {
        position: inherit;
    }
    
    footer {
        display: block;
        text-align: center;
        font-size: 1rem;
    }

    .social-media-footer {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    header {
        display: block;
        padding-top: 1rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .content {
        margin: 0;
    }

    .publication-card img {
        object-fit: cover;
        height: 40%;
        width: 100%;
        border-radius: 15px;
    }

    .social-media {
        margin-top: 1rem;
    }

    footer {
        padding: 5% 5% 7% 5%;
    }

}

@media(max-width: 400px) {
    h1 {
        font-size: 1.4rem;
    }

}