body {
    background-color: #1D1E20;
    color: #F3F3F3;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    border: none;
}

ul, ol, li {
    list-style: none;
}

.container {
    margin: 0 10%;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a {
    color: #F3F3F3;
    text-decoration: none;
}

.content {
    margin: 0 10%;
}

.home-description {
    margin: 8% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-description {
    margin-right: 7%;
    font-size: 22px;
}

.image-description img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 3% 10%;
    background-color: #000;
    font-size: 18px;
}

footer p {
    margin: 0;
}

.social-media-footer {
    padding-top: 3%;
    display: flex;
    justify-content: flex-end;
}

.social-media-footer i {
    margin-left: 10px;
}