body {
    background-color: #1D1E20;
    color: #F3F3F3;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    border: none;
}

ul, ol, li {
    list-style: none;
}

.container {
    margin: 0 8em;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a {
    color: #F3F3F3;
    text-decoration: none;
}

.content {
    margin: 0 8rem;
}

.home-description {
    margin: 7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-description {
    margin-right: 7%;
    font-size: 22px;
}

.image-description img {
    width: 220px;
    height: 220px;
}

.more-publications {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.more-publications a {
    color: #F3F3F3;
    text-decoration: none;
}

.more-publications a:hover {
    text-decoration: underline;
}

.publication-card {
    height: 180px;
    margin-bottom: 2rem;
    background-color: #000;
    border-radius: 15px;
    display: flex;
}

.publication-card img {
    object-fit: cover;
    height: 100%;
    width: 250px;
    border-radius: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 3% 10%;
    background-color: #000;
    font-size: 18px;
}

footer p {
    margin: 0;
}

.social-media-footer {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.social-media-footer i {
    margin-left: 10px;
}